@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
   --white: #fff;
   --primary: #E87D7D;
   --secondary: #AD7979;

   --gray1: #EBEBEB;
   --gray2: #9E9E9E;
   --gray3: #6B6B6B;
   --gray4: #424242;

   --nav-bg: var(--white);
   --menu-bg: var(--gray4);
   --nav-font-color: var(--gray4);

   --sm-fontsize: 0.75rem;
   --medium-fontsize: 0.875rem;
   --nav-fontsize: var(--medium-fontsize);
   --blog-details-body: var(--sm-fontsize);
   --filter-fontsize: var(--medium-fontsize);

   --navbar-height: 7vh;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
html {
   background-color: #fff;
   font-size: 16px;
}
body {
   font-size: 100%;
   font-family: 'Montserrat', sans-serif;
}
.full-width {
   position: relative;
   margin: 0 auto;
   width: 100%;
}
svg {
   color: var(--primary) !important;
}
