:root {
    --white: #fff;
    --primary: #E87D7D;
    --secondary: #AD7979;
 
    --gray1: #EBEBEB;
    --gray2: #9E9E9E;
    --gray3: #6B6B6B;
    --gray4: #424242;
 
    --nav-bg: var(--gray4);
 }
 
.blogs {
    height: auto;
    width: 100%;
    background-color: #EBEBEB;
    padding: 1rem 0;
}
.blogs-container {
    margin: 0 auto;
    max-width: 1720px;
    padding: 0 1.5rem;
}
.blogs-container:last-child {
    margin-bottom: 2rem;
}
.blogs .blog-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--white);
    gap: 0.5rem;
    min-height: 100px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}
.blog-img {
    position: relative;
    flex: 1 1 20%;
    z-index: 1;
}
.blog-img-inactive {
    display: none;
}
.blog-img:hover .blog-img-overlay {
    background-color: #fff;
} 
.blog-img .blog-img-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: #EBEBEB;
    border-radius: 5px;
    cursor: pointer;
}
.blog-img-inactive {
    display: none;
    width: 0%;
}
.blog-img img {
    width: 100%;
    min-width: 300px;
    object-fit: cover;
    border-radius: 5px;
    height: 150px;
}
.blog-img-overlay > * {
    padding: 5px 10px;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 0.875rem;
    color: var(--primary);
}
.blog-details {
    flex: 1 1 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;

    justify-content: space-between;
    min-height: 150px;
}
.blog-details-date {
    color: var(--gray2);
    font-size: 0.60rem;
    padding: 0;
    margin: 0;;
    text-transform: uppercase;
}
.blog-details .blog-details-author {
    color: var(--gray3);
    font-size: 0.75rem;
    
}
.blog-details .blog-details-title {
    font-size: var(--medium-fontsize);
    font-weight: bold;
    padding: 0.25rem 0;
}
small {
    font-size: 0.75rem;
}
.blog-details .blog-details-body {
    color: var(--gray3);
    font-size: var(--blog-details-body);
    max-height: 120px;
    margin-bottom: 1rem;
}
.more-button {
    cursor: pointer;
    color: var(--primary);
}
.edit-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--primary);
    padding: 1rem;
    background-color: var(--gray1);
    border-radius: 5px;
}
.edit-icons .top-icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.edit-icons .bottom-icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media only screen and (max-width: 720px) {
    .blogs-container {
        padding: 0;
    }
  }